@font-face {
	font-family: "footer-icons";
	src: url(https://d2w7zi19gz7l5k.cloudfront.net/hydra/fonts/footer-icons.ttf);
	src: url(https://d2w7zi19gz7l5k.cloudfront.net/hydra/fonts/footer-icons.eot#iefix) format("embedded-opentype"), url(https://d2w7zi19gz7l5k.cloudfront.net/hydra/fonts/footer-icons.woff) format("woff"), url(https://d2w7zi19gz7l5k.cloudfront.net/hydra/fonts/footer-icons.ttf) format("truetype"), url(https://d2w7zi19gz7l5k.cloudfront.net/hydra/fonts/footer-icons.svg) format("svg");
	font-weight: 400;
	font-style: normal;
}

html body #global-wrapper {
	clear: both;
	min-height: 100%;
	height: auto !important;
	margin-bottom: -156px;
}

html body #global-wrapper #footer-push {
	height: 156px;
}

html body.hide-ads #global-wrapper {
	clear: both;
	min-height: 100%;
	height: auto !important;
	margin-bottom: -155px;
}

html body.hide-ads #global-wrapper #footer-push {
	height: 155px;
}

#curse-footer {
	background-color: #1b1b1c;
	clear: both;
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 300 !important;
	margin: 0;
	min-height: 292px;
	overflow: auto;
	padding: 0;
}

#curse-footer * {
	box-sizing: border-box;
}

#curse-footer.hide-ads {
	min-height: 155px;
}

#curse-footer .footer-flex {
	align-content: center;
	align-items: center;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	max-width: 1000px;
}

#curse-footer.hide-ads .footer-flex {
	margin-top: 0;
}

#curse-footer .footer-box {
	flex: 0 0 auto;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

#curse-footer div.footer-flex a.curse {
	background-image: linear-gradient(transparent,transparent), url(../images/footer/logo-light.svg);
	display: inline-block;
	height: 148px;
	overflow: hidden;
	text-indent: -500px;
	white-space: nowrap;
	width: 216px;
}

#curse-footer.hide-ads div.footer-flex a.curse {
	width: 214px;
	height: 52px;
	background-image: linear-gradient(transparent,transparent), url(../images/footer/premium-logo-light.svg);
	background-repeat: no-repeat;
}

#curse-footer a, #curse-footer a:visited, #curse-footer a:active, #curse-footer a:hover {
	color: #c9c9c9;
	font-size: 14px;
	text-decoration: none;
}

#curse-footer ul {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

#curse-footer div.footer-box ul li {
	border: 0 none;
	content: none;
	font-size: inherit;
	line-height: 30px;
	padding: 0;
}

#curse-footer div.footer-box ul li a {
	padding-left: 25px;
	position: relative;
}

#curse-footer.show-ads div.footer-box ul li a::before {
	color: #c9c9c9;
	font-family: 'footer-icons';
	font-size: 16px;
	height: 16px;
	left: 0;
	line-height: 20px;
	position: absolute;
	top: 0;
	width: 16px;
}

#curse-footer.hide-ads div.footer-box ul.social li {
	border-right: 2px solid #3a3a3a;
	padding: 0 15px;
}

#curse-footer.hide-ads div.footer-box ul.social li:last-child {
	border-right: none;
}

#curse-footer.hide-ads div.footer-box ul.social li a {
	display: inline-block;
	height: 16px;
	line-height: 1;
	overflow: hidden;
	position: relative;
	text-indent: -10000px;
	white-space: nowrap;
	top: 3px;
	width: 16px;
}

#curse-footer.hide-ads div.footer-box ul.social li a::after {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	font-family: 'footer-icons';
	font-size: 16px;
	color: #838383;
	text-indent: 0;
}

#curse-footer.hide-ads div.footer-box ul.social li a.fb::after {
	content: '\e603';
}

#curse-footer.hide-ads div.footer-box ul.social li a.tw::after {
	content: '\ea91';
}

#curse-footer.hide-ads div.footer-box ul.social li a.yt::after {
	content: '\ea97';
}

#curse-footer.hide-ads div.footer-box ul.social li a.nl::after {
	content: '\e601';
}

#curse-footer.show-ads div.footer-box ul li a.fb::before {
	content: '\e603';
}

#curse-footer.show-ads div.footer-box ul li a.tw::before {
	content: '\ea91';
}

#curse-footer.show-ads div.footer-box ul li a.yt::before {
	content: '\ea97';
}

#curse-footer.show-ads div.footer-box ul li a.nl::before {
	content: '\e601';
}

#curse-footer.show-ads div.footer-box ul li a.sign-in::before,
#curse-footer.show-ads div.footer-box ul li a.account::before {
	content: '\e604';
}

#curse-footer.show-ads div.footer-box ul li a.register::before {
	content: '\e605';
}

#curse-footer.show-ads div.footer-box ul li a.careers::before {
	content: '\e602';
}

#curse-footer.show-ads div.footer-box ul li a.help::before {
	content: '\e609';
}

#curse-footer.show-ads div.footer-box ul li a.about::before {
	content: '\e607';
}

#curse-footer.show-ads div.footer-box ul li a.advertise::before {
	content: '\e608';
}

#curse-footer.show-ads div.footer-box ul li a.tos::before {
	content: '\e926';
}

#curse-footer.show-ads div.footer-box ul li a.privacy-policy::before {
	content: '\e600';
}

#curse-footer.show-ads div.footer-box ul li a.premium::before {
	content: '\e606';
}

#curse-footer.hide-ads .footer-box ul.social, #curse-footer.hide-ads .footer-box ul.you, #curse-footer.hide-ads .footer-box ul.more,
#curse-footer.hide-ads .footer-box ul.social li, #curse-footer.hide-ads .footer-box ul.you li, #curse-footer.hide-ads .footer-box ul.more li {
	display: inline;
}

.hlist-separated #curse-footer div.footer-box ul li a {
	padding-left: 0;
}

.hlist-separated #curse-footer li::after {
	content: unset;
}

#curse-footer div.ad-placement {
	border: 1px solid #585858;
	box-sizing: content-box;
	display: inline-block;
	height: 250px;
	width: 300px;
}

#curse-footer span.copyright {
	color: #898989;
	display: block;
	font-size: 12px;
	margin: 8px auto;
	text-align: center;
	width: 100%;
}
